/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Feb 9, 2023, 3:22:55 PM
    Author     : Arturo
*/
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption&display=swap');
footer {
  top:150%; 
  background-color: #D9A96B;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 110px;
  color: #F2F2F2;
}

footer .copy{
  background-color: #D9A96B;
  align-items: center;
  display: flex;
  padding-left: 20px;
  padding-right: 5px;
}

footer .copy img{
  padding: 20px 400px 0px 330px;
  width: 100px;
  max-height: 100px;
}

footer li a{
  color: #F2F2F2;
  text-decoration: none;
}
.navegacion {
  background-color: #D9A96B;
  align-items: center;
  display: flex;
}

.navegacion nav{
  display: inline-block;
  position: relative;
  left: 10%;
}

.navegacion ul{
  list-style-type: none;
  margin: 0;
  padding-left: 130px;
}

.navegacion li{
  float: left;
  padding: 20px 30px 20px 0;
}

.navegacion li a{
  color: #F2F2F2;
  text-decoration: none;
}

.navegacion img{
  padding: 10px 10px 10px 0;
  width: 100px;
  max-height: 100px;
  display: inline-block;
  position: relative;
  left: 15%;
}
.home{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #07080C;
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
  color: #f9f9f9;
  
}
.home h1{
  font-size: 40px;
}
.home p{
  font-size: 20px;
}
.home li p{
  font-size: 15px;
}

