@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'PT Sans Caption', sans-serif;
}

.navegacion {
    background-color: #D9A96B;
    align-items: center;
    display: flex;
}

.navegacion nav{
    display: inline-block;
    position: relative;
    left: 15%;
}

.navegacion ul{
    list-style-type: none;
    margin: 0;
    padding-left: 130px;
}

.navegacion li{
    float: left;
    padding: 25px 40px 20px 0;
}

.navegacion li a{
    color: #F2F2F2;
    text-decoration: none;
}

.navegacion img{
    padding: 10px 10px 10px 0;
    width: 100px;
    max-height: 100px;

    display: inline-block;
    position: relative;
    left: 20%;
}


 body{
    background:white;
    height: 100vh;
}
.fondo{
    
    width: 100%;
    height: 50vh;
    margin:auto;
    align-items:center;
    display:flex;
}
.Sucursales p{
    font-size: 3rem;
    color:#ffffff;
    position: absolute;
    top:20%; 
/*    que tan arriba va el texto*/
    left:50%;
    transform:translate(-50%,-50%);
    
}
.Nav{
    top:20%; 
    font-size: 10rem;
    height:300px;
    left: 5%;
    right: 10%;
/*    align-items:center;*/
    display: inline-block;
    position: relative;
    font-weight: 600;
    padding-right: 30px;
    justify-content:space-between;
}  

.Sucursal1{
   height:300px;
    left: 15%;
    right: 15%;
    font-weight: 600;
    padding-right: 30px;
    justify-content:space-between;
     
}
.Sucursal2{
    height:300px;
    left: 15%;
    right: 15%;
    font-weight: 600;
    padding-right: 30px;
    justify-content:space-between;
    
}
.Sucursal3{
    height:300px;
    left: 15%;
    right: 15%;
    font-weight: 600;
    padding-right: 30px;
    justify-content:space-between;
  
    
}
.Titulo{
    top:20%; 
    font-size: 1rem;
    height:10vh;
    margin:auto;
    left: 10%;
    right: 10%;
/*    align-items:center;*/
/*    espacio entre las cosas*/
    display: flex;
    position: relative;
    font-weight: 600;
    padding-right: 380px;
    justify-content:space-between;
}
.Info{
    top:20%;
    font-size: 1rem;
    height:3vh;
    margin:auto;
    left: 15%;
    right: 10%;
/*    align-items:center;*/
/*    espacio entre las cosas*/
    display: flex;
    position: relative;
    font-weight: 600;
    padding-right: 380px;
    justify-content:space-between;
}
.Heredia{
    left: 15%;
}
footer {
    top:180%; 
    background-color: #D9A96B;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 110px;
    color: #F2F2F2;
}

footer .copy{
    background-color: #D9A96B;
    align-items: center;
    display: flex;
    padding-left: 20px;
    padding-right: 5px;
}

footer .copy img{
    padding: 20px 400px 0px 330px;
    width: 100px;
    max-height: 100px;
}

footer li a{
    color: #F2F2F2;
    text-decoration: none;
}